<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" sizes="any" href="/img/logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>Babbage</title>
</head>
<body>
    <h1 class="titulo__home"><a class="titulo__rojito" href="/"><img class="titulo__img" src="/img/logo.png" alt="Logo"><span class="titulo__rojito">DH</span><span class="titulo__blanco"> Heroes</span></a></h1>
    <div  class="titulo__heroe"><h2><strong class="titulo__heroe2">Babbage</strong></h2></div>
    <div class="center__img__babb"><img class="babb__img" src="/img/CharlesBabbage.jpg" alt="Foto de Charles Babbage no encontrada"></div>

    <div class="info" id="Babbage">
      <strong> Charles Babbage fue un matemático y científico de la computación británico. Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias. También diseñó, (pero nunca construyó), la analítica para ejecutar programas de tabulación o computación; por estos inventos se le considera como una de las primeras personas en concebir la idea de lo que hoy llamaríamos una computadora, por lo que se le considera como <i>"El padre de los ordenadores"</i>. En el Museo de Ciencias de Londres se exhiben partes de sus mecanismos inconclusos. Parte de su cerebro conservado en formol se exhibe en el Royal College of Surgeons of England. Sitio en Londres
            </strong>
    </div>
    
    <nav>
       
        <ul class="navega">
            <li><a class="link__color" href="/">Home</a></li>
            <li><a class="link__color2" href="babbage">Babbage</a></li>
            <li><a class="link__color" href="berners-lee">Eerners-lee</a></li>
            <li><a class="link__color2" href="clarke">Clarke</a></li>
            <li><a class="link__color" href="hamilton">Hamilton</a></li>
            <li><a class="link__color2" href="hopper">Hopper</a></li>
            <li><a class="link__color" href="lovelace">Lovelace</a></li>
            <li><a class="link__color2" href="turing">Turing</a></li>
        </ul>
</nav>
</body>
<footer>
    <hr >
    <div>
    <div class="copyright"><strong class="footer__estilo">&copy 2022 DH Héroes. Echo Por Luis Dick, todos los derechos reservados.</strong>
    </div>
</div>
</footer>
</html>