<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" sizes="any" href="/img/logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>Berners-lee</title>
</head>
<body>
    
    <h1 class="titulo__home"><a class="titulo__rojito" href="/"><img class="titulo__img" src="/img/logo.png" alt="Logo"><span class="titulo__rojito">DH</span><span class="titulo__blanco"> Heroes</span></a></h1>
    <div  class="titulo__heroe"><h2><strong class="titulo__heroe2">Berners-lee</strong></h2></div>
    <div class="center__img__lee" ><img class="lee__img" src="/img/berners-lee.jpg" alt="Foto de berners-lee no encontrada"></div>

    <div class="info" id="lee">
        <strong>Timothy "Tim" John Berners-Lee es un científico de la computación británico, conocido por ser <i>el padre de la World Wide Web</i>. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990. En octubre de 1994 fundó el Consorcio de la World Wide Web (W3C) con sede en el MIT, para supervisar y estandarizar el desarrollo de las tecnologías sobre las que se fundamenta la Web y que permiten el funcionamiento de Internet.<br>

        Ante la necesidad de distribuir e intercambiar información acerca de sus investigaciones de una manera más efectiva, Berners-Lee desarrolló las ideas fundamentales que estructuran la web. Él y su grupo crearon lo que por sus siglas en inglés se denomina Lenguaje HTML (HyperText Markup Language) o lenguaje de etiquetas de hipertexto, el protocolo HTTP (HyperText Transfer Protocol) y el sistema de localización de objetos en la web URL (Uniform Resource Locator).
              </strong>
      </div>

      <nav>
       
        <ul class="navega">
            <li><a class="link__color" href="/">Home</a></li>
            <li><a class="link__color2" href="babbage">Babbage</a></li>
            <li><a class="link__color" href="clarke">Clarke</a></li>
            <li><a class="link__color2" href="hamilton">Hamilton</a></li>
            <li><a class="link__color" href="hopper">Hopper</a></li>
            <li><a class="link__color2" href="lovelace">Lovelace</a></li>
            <li><a class="link__color" href="turing">Turing</a></li>
        </ul>
</nav>
</body>
<footer>
    <hr >
    <div>
    <div class="copyright"><strong class="footer__estilo">&copy 2022 DH Héroes. Echo Por Luis Dick, todos los derechos reservados.</strong>
    </div>
</div>
</footer>
</html>