<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" sizes="any" href="/img/logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>Clarke</title>
</head>
<body>
    
    <h1 class="titulo__home"><a class="titulo__rojito" href="/"><img class="titulo__img" src="/img/logo.png" alt="Logo"><span class="titulo__rojito">DH</span><span class="titulo__blanco"> Heroes</span></a></h1>
    <div  class="titulo__heroe"><h2><strong class="titulo__heroe2">Clarke</strong></h2></div>
   
   <div class="center__img__clar"><img class="clar__img" src="/img/JoanClarke.jpg" alt="Foto de Joan Clarke no encontrada"></div> 
   
   
   <div class="info" id="clar">
    <strong> Joan Elisabeth Lowther Murray, nacida como Joan Elisabeth Lowther Clarke fue una criptoanalista y numismática británica que trabajó en Bletchley Park durante la Segunda Guerra Mundial.
    Fue la única mujer que trabajó en el equipo del matemático Alan Turing en el proyecto Enigma, que desencriptó las comunicaciones secretas de la Alemania nazi. Su papel en este proceso le valió premios y citaciones, como el nombramiento como miembro de la Orden del Imperio Británico (MBE), en 1946. <br><br>
    A sus comienzo fue asignada a un grupo llamado The Girls (Las Chicas), en el que había mujeres que se dedicaban a trabajos rutinarios, pero pronto destacó y fue trasladada a trabajos de desencriptado. En aquella época era poco usual que las mujeres se dedicaran a la criptología y Clarke formaba parte de la minoría que traspasó las barreras de género, siendo así fichada por el Hut 8, un grupo informático liderado por el matemático Alan Turing.
          </strong>
  </div>
  
  <nav>
     
      <ul class="navega">
          <li><a class="link__color" id="color" href="/">Home</a></li>
          <li><a class="link__color2" id="color" href="babbage">Babbage</a></li>
          <li><a class="link__color" id="color" href="berners-lee">Eerners-lee</a></li>
          <li><a class="link__color2" id="color" href="hamilton">Hamilton</a></li>
          <li><a class="link__color" id="color" href="hopper">Hopper</a></li>
          <li><a class="link__color2" id="color" href="lovelace">Lovelace</a></li>
          <li><a class="link__color" id="color" href="turing">Turing</a></li>
      </ul>
</nav>
</body>
<footer>
  <hr >
  <div>
  <div class="copyright"><strong class="footer__estilo">&copy 2022 DH Héroes. Echo Por Luis Dick, todos los derechos reservados.</strong>
  </div>
</div>
</footer>
</html>