<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" sizes="any" href="/img/logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>Hamilton</title>
</head>
<body>
    <h1 class="titulo__home"><a class="titulo__rojito" href="/"><img class="titulo__img" src="/img/logo.png" alt="Logo"><span class="titulo__rojito">DH</span><span class="titulo__blanco"> Heroes</span></a></h1>
    <div  class="titulo__heroe"><h2><strong class="titulo__heroe2">Hamilton</strong></h2></div>
    <div class="center__img__hami"><img class="hami__img" src="/img/MargaretHamilton.jpg" alt="Foto de Margaret Hamilton no encontrada"></div>

    <div class="info" id="hami">
        <strong> Margaret Hamilton es una científica computacional, matemática e ingeniero de Software estadounidense.
                Fue directora de la División de Ingeniería de Software del Laboratorio de Instrumentación del MIT, donde con su equipo desarrolló el software de navegación "on-board" para el Programa Espacial Apolo. Fue fundadora, en 1976, de la empresa Higher Order Software. En 1986, se convirtió en la fundadora y CEO de Hamilton Technologies, Inc. en Cambridge, Massachusetts. La compañía se desarrolló alrededor del lenguaje universal de sistemas basada en su paradigma de "desarrollo antes del hecho" (DBTF, del inglés Development Before the Fact) para sistemas de diseño de software. Acuñó el término «ingeniería de software» para distinguir entre el trabajo de hardware y otras ingenierías. A pesar de que su idea no fue bien recibida al inicio, eventualmente el software generó el mismo respeto que otras disciplinas. <br><br>
            
            El 22 de noviembre de 2016, Hamilton recibió la Medalla Presidencial de la Libertad, entregada por el expresidente de Estados Unidos Barack Obama, por su trabajo en la NASA durante las misiones Apolo. <br><br>
            
            Su enfoque del diseño de software fue pionero para la época, ya que los requisitos de robustez y tolerancia a fallos eran una prioridad para la seguridad y supervivencia de los astronautas durante los viajes a la Luna, es por esto que para muchos Margaret Hamilton es considerada una de las primeras personas en convertirse en Ingeniera de Confiabilidad del Sitio (del inglés Site Reliability Engineer). <br><br>
            
            Hamilton ha publicado más de 130 artículos, actas e informes, y ha llevado a cabo sesenta proyectos y seis grandes programas.
              </strong>
      </div>
      
      <nav>
         
          <ul class="navega" >
              <li><a class="link__color" id="color" href="/">Home</a></li>
              <li><a class="link__color2" id="color" href="babbage">Babbage</a></li>
              <li><a class="link__color" id="color" href="berners-lee">Eerners-lee</a></li>
              <li><a class="link__color2" id="color" href="clarke">Clarke</a></li>
              <li><a class="link__color" id="color" href="hopper">Hopper</a></li>
              <li><a class="link__color2" id="color" href="lovelace">Lovelace</a></li>
              <li><a class="link__color" id="color" href="turing">Turing</a></li>
          </ul>
  </nav>
  </body>
  <footer>
      <hr >
      <div>
      <div class="copyright"><strong class="footer__estilo">&copy 2022 DH Héroes. Echo Por Luis Dick, todos los derechos reservados.</strong>
      </div>
  </div>
  </footer>
</html>