<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" sizes="any" href="/img/logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>Hopper</title>
</head>
<body>

    <h1 class="titulo__home"><a class="titulo__rojito" href="/"><img class="titulo__img" src="/img/logo.png" alt="Logo"><span class="titulo__rojito">DH</span><span class="titulo__blanco"> Heroes</span></a></h1>
    <div  class="titulo__heroe"><h2><strong class="titulo__heroe2">Hopper</strong></h2></div>
   <div class="center__img__hopp"><img class="hopp__img"  src="/img/hoppergrace.jpg" alt="Foto de hopper grace no encontrada"></div>
    
   <div class="info" id="hopp">
    <strong> Grace Murray Hopper fue una Ingeniera de computación estadounidense. Inventa en 1952 el primer compilador para ordenador. Inventa el lenguaje COBOL. Fue una científica especializada en Matemáticas y también una militar norteamericana, con grado de almirante, considerada una pionera en el mundo de la informática. Fue la primera programadora que utilizó el Mark I y entre las décadas de los 50 y 60, propició la aplicación de los compiladores para el desarrollo de los lenguajes de programación y métodos de validación. <br><br>

        Hopper pensó que podía crearse un lenguaje de programación que usara comandos en inglés y que sirviera para aplicaciones de negocios. Con esta idea, las bases para COBOL habían sido establecidas, y 2 años después se creó el comité que diseño este lenguaje. Aunque Hopper no tuvo un papel preponderante en el desarrollo del lenguaje, fue miembro del comité original para crearlo, y el FLOW-MATIC fue una influencia tan importante en el diseño de COBOL, que Hopper ha pasado a la historia de la informática como su creadora. COBOL fue el primer lenguaje que ofreció una auténtica interfaz a los recursos disponibles en el ordenador, de forma que el programador no tenía que conocer los detalles específicos. Además, los programas desarrollados para una plataforma concreta podían ser ejecutados en un ordenador diferente a aquél en el cual se habían programado sin necesidad de hacer cambios. <br><br>
        
        Al final de su carrera profesional participó en los comités de estandarización de los lenguajes de programación COBOL y FORTRAN
          </strong>
  </div>
  
  <nav>
     
      <ul class="navega" >
          <li><a class="link__color" id="color" href="/">Home</a></li>
          <li><a class="link__color2" id="color" href="babbage">Babbage</a></li>
          <li><a class="link__color" id="color" href="berners-lee">Berners-lee</a></li>
          <li><a class="link__color2" id="color" href="clarke">Clarke</a></li>
          <li><a class="link__color" id="color" href="hamilton">Hamilton</a></li>
          <li><a class="link__color2" id="color" href="lovelace">Lovelace</a></li>
          <li><a class="link__color" id="color" href="turing">Turing</a></li>
      </ul>
</nav>
</body>
<footer>
  <hr >
  <div>
  <div class="copyright"><strong class="footer__estilo">&copy 2022 DH Héroes. Echo Por Luis Dick, todos los derechos reservados.</strong>
  </div>
</div>
</footer>

</body>
</html>