<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" sizes="any" href="/img/logo.png">
    <title>DH Heroes</title>
</head>

<body>


    <h1 class="titulo__home"><img class="titulo__img" src="/img/logo.png" alt="Logo"><span class="titulo__rojito">DH</span><span class="titulo__blanco"> Heroes</span></h1>
    <div class="center__img"><img class="home__img" src="/img/lenguajes-de-programacion" alt="no se encontro foto"></div>
    
    <div class="info">
        <h2>¿Que es un héroe?</h2>
            
           <strong> Un héroe o heroína es una persona que se diferencia del común de la gente por haber realizado alguna proeza, virtud o hazaña que se considere de valor.
            En muchos casos, se llama héroes a personajes de la historia que se mostraron valerosos, defendieron alguna causa o que se destacaron en algún ámbito o disciplina. <br>
            <i>conozcamos a los Héreos de la Programación</i>
            </strong>
    </div>

    <nav>
       
        <ul class="navega">
            <li><a class="link__color" href="babbage">Babbage</a></li>
            <li> <a class="link__color2" href="berners-lee">Eerners-lee</a></li>
            <li><a class="link__color" href="clarke">Clarke</a></li>
            <li><a class="link__color2" href="hamilton">Hamilton</a></li>
            <li><a class="link__color" href="hopper">Hopper</a></li>
            <li><a class="link__color2" href="lovelace">Lovelace</a></li>
            <li><a class="link__color" href="turing">Turing</a></li>
        </ul>
</nav>
</body>
<footer>
    <hr >
    <div>
    <div class="copyright"><strong class="footer__estilo">&copy 2022 DH Héroes. Echo Por Luis Dick, todos los derechos reservados.</strong>
    </div>
</div>
</footer>
</html>