@media screen and (max-width: 1000px){
    #encabezado{
        height: auto;
    }
    #contenido{
        width: auto;
    }
    #barra_lateral{
        display:none;
    }
}

body
    {
    background: url(/img/fondo.jpg);  
    background-size: auto;
    }
.titulo__blanco
                {
                    color: white;
                }
.titulo__rojito
                {
                    color: red;
                }
.titulo__img
                {   
                    position: relative;
                    top: 15px;
                    width: 100px;
                    border-top-width: 10px;
                    border-right-width: 10px;
                    border-bottom-width: 10px;
                    border-left-width: 10px;
                    border-top-style: solid;
                    border-right-style: solid;
                    border-bottom-style: solid;
                    border-left-style: solid;
                    border-color: red;
                    border-radius: 50%
                }
.titulo__home
                {   
                    position: relative;
                    bottom: 45px;
                    font-family: cursive; 
                    font-size:75px ;
                    text-align: center;
                    text-decoration: underline red;
                }
.titulo__heroe
                {
                position: relative;
                bottom: 60px;
                text-align: center;
                text-decoration: underline red;
                font-size: 30px;
                }                
.titulo__heroe2
                {
                color: white;
                background-color: black;
                }
.home__img
                {
                width: 400px;
                border-top-width: 10px;
                border-right-width: 10px;
                border-bottom-width: 10px;
                border-left-width: 10px;
                border-top-style: solid;
                border-right-style: solid;
                border-bottom-style: solid;
                border-left-style: solid;
                border-color: rgb(0, 0, 0);
                border-radius: 20%;
                }
.center__img
                {
                position: relative;
                text-align: center; 
                bottom: 70px;
                }   
.babb__img
                {
                    width: 170px;
                    border-top-width: 10px;
                    border-right-width: 10px;
                    border-bottom-width: 10px;
                    border-left-width: 10px;
                    border-top-style: solid;
                    border-right-style: solid;
                    border-bottom-style: solid;
                    border-left-style: solid;
                    border-color: black;
                    border-radius: 50%
                }     
.center__img__babb
                {
                position: relative;
                text-align: center;
                bottom: 70px;
                }        
#Babbage        {
                position: relative;
                bottom: 55px;
                }
.center__img__lee
                {
                    position: relative;
                    text-align: center;
                    bottom: 65px;
                }
.lee__img
                {
                width: 350px;
                border-top-width: 10px;
                border-right-width: 10px;
                border-bottom-width: 10px;
                border-left-width: 10px;
                border-top-style: solid;
                border-right-style: solid;
                border-bottom-style: solid;
                border-left-style: solid;
                border-color: black;
                border-radius: 50%
                }
#lee
                {
                position:relative;
                bottom: 50px;
                }
.center__img__clar
                {
                position: relative;
                text-align: center;
                bottom: 70px;
                }
.clar__img
                {
                width: 200px;
                border-top-width: 10px;
                border-right-width: 10px;
                border-bottom-width: 10px;
                border-left-width: 10px;
                border-top-style: solid;
                border-right-style: solid;
                border-bottom-style: solid;
                border-left-style: solid;
                border-color: black;
                border-radius: 50%
                }
#clar
                {
                position:relative;
                bottom: 60px;
                }
.center__img__hami
                {
                position: relative;
                text-align: center;
                bottom: 65px;
                }
.hami__img
                {
                width: 220px;
                border-top-width: 10px;
                border-right-width: 10px;
                border-bottom-width: 10px;
                border-left-width: 10px;
                border-top-style: solid;
                border-right-style: solid;
                border-bottom-style: solid;
                border-left-style: solid;
                border-color: black;
                border-radius: 20%
                }
#hami
                {
                position: relative;
                bottom: 50px;
                }
.center__img__hopp
                {
                position: relative;
                text-align: center;
                bottom: 65px;
                }
.hopp__img
                {
                width: 330px;
                border-top-width: 10px;
                border-right-width: 10px;
                border-bottom-width: 10px;
                border-left-width: 10px;
                border-top-style: solid;
                border-right-style: solid;
                border-bottom-style: solid;
                border-left-style: solid;
                border-color: black;
                border-radius: 30%
                }
#hopp
                {
                    position: relative;
                    bottom: 50px;
                }
.link__color
                {
                    color: white;
                    font-size:37px ;
                }
.link__color2
                {
                    color: red;
                    font-size: 37px;
                }

ul.navega li    {
                    display: inline;
                    padding-right: 1.1em;
                    position: relative;
                    text-align: center;
                    bottom: 45px;
                    letter-spacing: 5px;
                }
#color
                {
                    background-color: black;
                }
.info
                {
                position: relative;
                text-align: center;    
                background-color:black ;
                color: white;
                font-family: cursive;
                bottom: 70px;
                }
#resaltado 
                {
                font-size: 30px;
                text-decoration:underline red 5px;
                }
.copyright
                {
                text-align: center;
                font-size: 25px;
                font-family: cursive;
                color:white
                }
.footer__estilo
                {
                width: 500px;
                background-color: black;
                }